{% extends "../layoutAdmin.njk" %}

{% block head %}
    <title>Foodify - Editar</title>
{% endblock %}

{% block content %}

        <div class="contents">
            <form action="/chefs/edit?_method=PUT" method="POST">
                <div class="title">
                    <h2>Editando chef</h2>
                    
                    <div class="btNav">
                        <button form="form-delete" class="bt_danger" type="submit">APAGAR</button>
                        <button class="bt_primary" type="submit">SALVAR</button>
                    </div>
                </div>

                {% include "./fields.njk" %}

                <input type="hidden" name="id" value="{{ chef.id }}">
            </form>

        <form id="form-delete" action="/chefs/edit?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{ chef.id }}">
        </form>

    </div>

    <script>
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener("submit", function(event){
            const confirmation = confirm("Tem certeza que deseja deletar?")
            if(!confirmation){
                event.preventDefault()
            }
        })
    </script>

    <script src="/scripts.js"></script>
    
{% endblock %}