{% extends "./layout.njk" %}

{% block head %}
    <title>Foodify - Manager</title>
{% endblock %}

{% block content %}

    <div class="contents">

        <form id="formRegister" method="POST" action="/users/forgot-password">
            <div class="title">
                <h2>Esqueceu a senha</h2>
            </div>

            <div class="item">
                <div>Email</div>
                <div>
                    <input 
                        type="text" 
                        name="email" 
                        value="{{ user.email }}" 
                        placeholder="Digite seu email para recuperar sua senha" 
                        {% if err == 'pass'  %}class="error"{% endif %}>
                </div>
            </div>

            <div id="buttonsForm" class="item">
                <div>
                    
                </div>
                <div id="buttonForm">
                    <button class="bt_primary" type="submit">Recuperar</button>
                </div>
            </div>

        </form>

    </div>

{% endblock %}