<html>
    <head>

        {% block head %}
            <title>Foodify - Úsuarios</title>
        {% endblock %}
        
        <meta name="description" content="Site onde você encontra as melhores receitas" >
        <link href="/css/users.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    <body>
        <section class="general-contents">
            
            {% include "./parts/header.njk" %}

            {% include "../parts/messages.njk" %}

            {% block content %}{% endblock %}
        
        </section>

        <div class="footer">
            <div class="footer__txt">Todos os direitos reservados pelo Foodfy</div>
        </div>

    </body>

</html>