{% extends "../layoutAdmin.njk" %}

{% block head %}
    <title>Foodify - Manager</title>
{% endblock %}

{% block content %}

    <div class="contents">

        <div class="title">
            <h2>Usuários</h2>
            {% if user.is_admin == 1 %}
            <div class="btNav">
                <a href="/users/register"> <button class="bt_primary" type="button">Novo</button> </a>
            </div>
            {% endif %}
        </div>

        {% if users == '' %}
            <div><span>Não foram encontrados usuários cadastrados no sistema.</span></div>
        {% endif %}

        <div class="cardsUser">

            {% for userItem in users %}
                <div class="cardUser">
                    <h2>{{ userItem.name }} {% if userItem.is_admin %}<span class="material-icons">check_circle</span>{% endif %}</h2>
                    <h4>{{ userItem.email }}</h4>
                    
                    <div class="buttonsUser">
                        {% if (user.id == userItem.id) or (user.is_admin == 1) %}<a href="/users/edit/{{userItem.id}}">Editar</a>{% endif %}
                        <form class="form-delete" action="/users/list?_method=DELETE" method="POST">
                            {% if (user.is_admin == 1) and (user.id != userItem.id) %}
                            <button type="submit">Remover</button>
                            {% endif %}
                            <input type="hidden" name="id" value="{{userItem.id}}">
                        </form>
                    </div>
                </div> 
            {% endfor %}
            
        </div> 

    </div>

    <script>
        const formDelete = document.querySelectorAll('.form-delete')
        formDelete.forEach(formAlert => formAlert.addEventListener("submit", function(event){
            const confirmation = confirm("Tem certeza que deseja deletar?")
            if(!confirmation){
                event.preventDefault()
            }
        }))
    </script>

{% endblock %}

