/* === FOOTER === */

.footer {
    width: 100%;    
    background-color: #eeeeee;
    margin-top: 50px;
    padding: 26px;
    position: relative;
    bottom: 0;

    .footer__txt {
        text-align: center;
    }

}