{% extends "./templateAdmin.njk" %}

{% block head %}
    <title>Foodify - Editar</title>
{% endblock %}

{% block nav %}

    <div class="nav">
        <div class="links_">
            <div class="logo"><a href="/"><img src="/imgs/logo_white.png" alt="Logo Foodify"></a></div>
        </div>
    </div>
    
 {% endblock %}

{% block content %}

    <div class="contents">

        <form action="/admin/edit?_method=PUT" method="post">
            <div class="title">
                <h2>Editando receita</h2>
                <div class="btNav">
                    {# <button class="bt_delete" type="submit">Deletar</button> #}
                    <button class="bt_primary" type="submit">Salvar receita</button>
                </div>
            </div>

            {% include "./fields.njk" %}

            <input type="hidden" name="id" value="{{ recipe.id }}">
        </form>

    </div>

    {% include "../addItem.njk" %}
    
{% endblock %}