<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input type="text" name="img_recipe" value="{{ recipe.recipe_img }}">
    </div>
</div>

<div class="item">
    <div>Título da receita</div>
    <div>
        <input type="text" name="title" value="{{ recipe.title }}">
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
        {% if ingreds[0] == null %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="" placeholder="Não tem ingredientes cadastrados" />
            </div>   
        {% else %}
            
            {% for itemIngred in ingreds %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="{{itemIngred.description}}" />
            </div>
            {% endfor %}
        {% endif %}    
    </div>
    <button type="button" class="add-ingredient addItem">Adicionar ingrediente</button>            
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div id="steps">
        {% if steps[0] == null %}
            <div class="step">
                <input type="text" name="method_of_preparation[]" value="" />
            </div>   
        {% else %}
            {% for itemStep in steps %}
            <div class="step">
                <input type="text" name="method_of_preparation[]" value="{{itemStep.description}}" />
            </div>
            {% endfor %}
        {% endif %}    
    </div>
    <button type="button" class="add-step addItem">Adicionar passos</button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="aditional_info" rows="5">{{ recipe.additional_info }} </textarea>
    </div>
</div>