{% extends "./templateAdmin.njk" %}

{% block head %}
    <title>Foodify - Mostrar</title>
{% endblock %}

{% block nav %}

    <div class="nav">
        <div class="links_">
            <div class="logo"><a href="/"><img src="/imgs/logo_white.png" alt="Logo Foodify"></a></div>
        </div>
    </div>
    
 {% endblock %}

{% block content %}

    <div class="contents">

        <div class="title">
            <h2>Receita: {{ recipe.title }}</h2>
            <div class="btNav">
                <div><a href="/admin/list"><i class="material-icons">arrow_back</i></a></div>
                <div><a href="/admin/{{ recipe.id }}/edit"><button class="bt_primary" type="submit">Editar receita</button></a></div>
            </div>
        </div>

        <div class="banner__img">
            <img src="{{files[0].src}}" alt="">
        </div>

        <div class="gallery-preview">
                {% if files %}
                    {% for image in files %}
                        <div class="photo" id="{{image.id}}">
                            <img 
                                src="{{image.src}}" 
                                alt="{{image.name}}"
                                class="active"
                                onclick=ImageGallery.setImage(event)
                            >
                        </div>
                    {% endfor %}
                {% endif %}
        </div>

        <div class="boxTitle">
            <h1>{{ recipe.title }}</h1>
            <h3>Adicionada: {{ recipe.created_at }}</h3>
        </div>
        <div class="boxInfo">
            <div class="itemDescription">
                <h3>Ingredientes</h3>
                <div class="txtItem">
                    {% for itemIngredient in ingreds %}
                        <span> - {{ itemIngredient.description }} </span> <br>
                    {% endfor %}
                </div>
            </div>

            <div class="itemDescription">
                <h3>Modo de preparo</h3>
                <div class="txtItem">
                    {% for itemSteps in steps %}
                        <span> - {{ itemSteps.description }} </span> <br>
                    {% endfor %}
                </div>
            </div>

            <div class="itemDescription">
                <h3>Informações adicionais</h3>
                <div class="txtItem">
                    <span> - {{ recipe.additional_info }} </span>
                </div>
            </div>        
        </div>
        
        
    </div>

<script src="/scripts.js"></script>

{% endblock %}