<html>
    <head>

        {% block head %}
            <title>Foodify - </title>
        {% endblock %}
        
        <meta name="description" content="Site onde você encontra as melhores receitas" >
        <link href="/styleAdm.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <section class="general-contents">
            <header> 
                {% block nav %}{% endblock %}
            </header>

            {% block content %}{% endblock %}      
        </section>
        
        <div class="footer">
            <div class="footer__txt">Todos os direitos reservados pelo Foodfy</div>
        </div>

    </body>
        
</html>