<html>
    <head>

        {% block head %}
            <title>Foodify - </title>
        {% endblock %}
        
        <meta name="description" content="Site onde você encontra as melhores receitas" >
        <link href="/styleAdm.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <section class="general-contents">
            <header> 
                {% include "./parts/header.njk" %}
            </header>

            {% block content %}{% endblock %}      
        </section>
        
        {% include "./parts/footer.njk" %}

    </body>
        
</html>