@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 940px;
    margin: 0 auto;
    padding: 30px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.general-contents {
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
}

.nav {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
}

.nav a{
    font-size: 15px;
    line-height: 25px;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.nav form input[type="text"] {
    border: 1px solid #eee;
    padding: 8px 8px;
    border-radius: 3px;
    width: 75%;
}

.nav form button {
    padding: 8px 16px;
    background-color: #e4b3ac;
    text-transform: uppercase;
    border-radius: 8px;
    color: white
    
}

.nav .active{
    font-weight: bold;
}

.nav .logo a{
    padding: 0;
}

.nav a:hover{
    color: rgb(70, 7, 49);
}

.nav .links{
    position: relative;
}

#btManager{
    padding: 4px 6px;
    background-color: #e4b3ac;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 8px;
}

/* === BANNER === */

.banner {
    border-radius: 30px;
    background-color: #FBDFDB;
    height: 366px;
    position: relative;
    margin-top: 30px;
}

.banner__txts{
    width: 305px;
    position: absolute;
    top: 117px;
    left: 60px;
}

.banner__txts h1{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.banner__txts h2{
    opacity: 0.7;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.banner img{
    position: absolute;
    right: 100px;
    top: 66px;
}

/* ==== BANNER SHOW ==== */

.banner__img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    margin-top: 24px;
}

.boxTitle {
    margin-top: 50px;
    text-align: center;
}

.boxTitle h1 {
    font-size: 36px;
    color: #111111;
    font-weight: bold;
}

.boxTitle h3 {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
}


/* === MOST ACESSED === */

.most_acessed {
    margin-top: 50px;
}

.most_acessed .most_acessed__title{
    font-size: 18px;
    font-weight: bold;
}

.contents .cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.contents .card{
    max-width: 300px;
}

.contents .card h2{
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.contents .card h3{
    font-size: 14px;
    color: #777777;
    font-weight: 300;
    margin-top: 5px;
}

.card .card__img{
    border-radius: 15px;
    height: 200px;
    cursor: pointer;
    width: 100%;
}

/* ==== BOX DE INFORMAÇÕES ==== */

.itemDescription{
    margin-top: 31px;
}

.boxInfo div:nth-child(1){
    margin-top: 41px;
}

.itemDescription h3 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
}

.itemDescription .txtItem{
    margin-top: 19px;
}

.itemDescription span {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #444444;
} 

.item .addItem {
    font-size: 16px;
    font-weight: bold;
    color: #6558c3;
    margin-top: 15px;
    cursor: pointer;
}

/* === FOOTER === */

.footer {
    width: 100%;    
    background-color: #eeeeee;
    margin-top: 50px;
    padding: 26px;
    position: relative;
    bottom: 0;
}

.footer .footer__txt {
    text-align: center;
}

/* === CONTENTS === */

.contents {
    margin-top: 50px;
}

.contents h1{
    font-size: 24px;
    color: #111111;
}

.contents h2{
    font-size: 20px;
    color: #111111;
    margin-top: 30px;
}

.contents p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {

    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: white;
    border-radius: 16px;
    width: 660px;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
}

.modal img {
    padding: 30px;
    border-radius: 45px;
    padding-bottom: 0;
}

.modal h2{
    font-size: 24px;
    color: #111111;
    text-align: center;
    margin-top: 20px;
}

.modal h3 {
    font-size: 18px;
    font-weight: 300;
    color: #111111;
    margin-top: 5px;
}

.modal__close {
    margin-bottom: 30px;
    margin-top: 60px;
    position: relative;
    padding-bottom: 30px;
}

.close-modal {
    font-size: 16px;
    color: #999999;
    font-weight: lighter;
    cursor: pointer;
    margin-bottom: 30px;
}

