@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
}


.general-contents {
    width: 100%;
    margin: 0 auto;
    
}

header {
    /* max-width: 940px; */
    /* margin: 0 auto; */
    padding: 30px;
    background-color: #111111;
    box-sizing: border-box;
}

.nav {
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.nav .links{
    margin-left: 30px;;
}

.nav .links ul li {
    display: inline-block;
    padding: 0px 8px;
}

.nav .links ul li a{
    color: #777777;


    text-decoration: none;
}

/* === CONTENTS === */

.contents {
    width: 940px;
    min-height: 100%;
    background-color: white;
    margin: 45px auto;
}

.contents .item div:nth-child(1) {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.contents .title {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
}

.contents h2{
    font-size: 24px;
    color: #111111;
}

.contents .btNav{
    width: auto;
    justify-self: end;
    display: flex;
}

.contents .btNav i:first-child {
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 5px;
}

.contents .bt_danger{
    background-color: #DC4747;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
}

.contents .bt_primary{
    background-color: #6558C3;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}

/* ==== INPUTS ==== */

.contents .item {
    margin-top: 30px;
}

input[type="text"],
textarea,
select {
    padding: 15px;
    font-size: 18px;
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-top: 10px;
    outline: none;
}

/* ====  IMAGE PREVIEW ==== */
.item #photos-preview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    width: 100%;

    margin-top: 10px;
}

.item #photos-input{
    position: absolute;
    top: 0;
    left: 0;
    
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
 
    cursor: pointer;
 }

.item #photos-upload {
    position: relative;

    display: block;
    overflow: hidden;

    width: 200px;
}   

.item #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.item #photos-preview .photo-add {
    border: 1px dashed rgb(155, 155, 155);
    height: 150px;
    
}

.item #photos-preview .photo {
    position: relative;
    
}

.item #photos-preview i{
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(255,255,255,0.8);

    color: rgb(155, 155, 155);;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 400%;
    cursor: pointer;

    opacity: 0;
    transition: 300ms;
   
}

.item #photos-preview .photo-add i{
    opacity: 1;
}

.item #photos-preview i:hover {
    opacity: 1;
}




/* === CARDS === */
.cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140px;    
}

.card .card__img img{
    width: 100%;
    border-radius: 15px;
}

.card .card__txt {
    padding-left: 20px; 
}

.card .card__txt h2{
    font-size: 18px;
    color: #111111;
    font-weight: 700;
}

.card .card__txt h3{
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: normal;
}

.card .card__txt a{
    font-size: 14px;
    line-height: 24px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
}

/* ==== BANNER ==== */

.banner__img {
    margin-top: 24px;
}

.banner__img img{
    width: 100%;
    border-radius: 30px;
    height: 300px;
    object-fit: cover;
}

.boxTitle {
    margin-top: 80px;
    text-align: center;
}

.boxTitle h1 {
    font-size: 36px;
    color: #111111;
    font-weight: bold;
}

.boxTitle h3 {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
}

/*  ==== GALLERY PREVIEW === */

.gallery-preview{
    width: 100%;
}

.gallery-preview img{
    width: 100%;
    border-radius: 4px;

    opacity: 1;
}

.gallery-preview .photo {
    position: relative;
    width: 120px;
    object-fit: cover;
    float: right;
    margin-left: 10px;
    margin-top: 10px;

    cursor: pointer;

    transition: 300ms;
}

.gallery-preview .photo:hover{
    opacity: 0.7;
    transition: 300ms;
}

/* ==== BOX DE INFORMAÇÕES ==== */

.itemDescription{
    margin-top: 31px;
}

.boxInfo div:nth-child(1){
    margin-top: 41px;
}

.itemDescription h3 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
}

.itemDescription .txtItem{
    margin-top: 19px;
}

.itemDescription span {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #444444;
} 

.item .addItem {
    font-size: 16px;
    font-weight: bold;
    color: #6558c3;
    margin-top: 15px;
    cursor: pointer;
}


/* === FOOTER === */

.footer {
    width: 100%;    
    background-color: #eeeeee;
    margin-top: 50px;
    padding: 26px;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
}

.footer .footer__txt {
    text-align: center;
}

/* === CHEFES === */

.cardsChefs{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}

.cardChef{
    display: grid;
    grid-template-columns: 64px 1fr;
    height: 64px;  
    align-items: center;
}

.cardChef .chef__img{
    width: 64px;
    height: 64px;
}

.cardChef .chef__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cardChef .chef__txt{
    padding-left: 20px;
    
}

.cardChef .chef__txt h2{
    font-size: 18px; 
    font-weight: normal;
}

.cardChef .chef__txt a{
    font-size: 14px; 
    font-weight: bold;

    color: #6558C3;
    text-decoration: none;
}

.cardChef .chef__txt .link{
    margin-top: 10px;
}

/* === AVATAR CHEF === */

.contentAvatar{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentAvatar .imgAvatar{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.contentAvatar .imgAvatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.contentAvatar h2{
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
}

.contentAvatar h3{
    font-size: 20px;
    margin-top: 4px;
    text-align: center;
    color: #777777;
}



