<div class="nav">
    <div class="logo">
        <a href="/"><img src="/imgs/logo_white.png" alt="Logo Foodify"></a>
    </div>
    <div class="links">
        <ul>
            <li><a href="/admin/list">Receitas</a></li>
            <li><a href="/chefs/list">Chefs</a></li>
        </ul>
    </div>
</div>