{% extends "../layoutAdmin.njk" %}

{% block head %}
    <title>Foodify - Lista de Receitas</title>
{% endblock %}

{% block content %}

    <div class="contents">
                
        <div class="title">
            <h2>Gerenciar receitas</h2>
            <div class="btNav">
                <div><a href="/admin/create"><button class="bt_primary">Adicionar receita</button></a></div>
            </div>
        </div>

        <div class="cards">

        {% if recipes == '' %}
            <div><span>Não foram encontrados receitas cadastrados no sistema.</span></div>
        {% endif %}

            {% for recipe in recipes %}
                <div class="card">
                
                    <div class="card__img">
                        <img src="{{ recipe.img }}" alt="">
                    </div>

                    <div class="card__txt">
                        <h2>{{ recipe.title }}</h2>
                        <h3>Cadastrada: {{ recipe.created_at }}</h3>
                        <h3>Por: {{ recipe.chef }}</h3>
                        <a href="/admin/show/{{ recipe.id }}">Visualizar</a>    
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
    
{% endblock %}