{% extends "layout.njk" %}

{% block nav %}
    <div class="nav">
        <div class="logo"><a href="/"><img src="/imgs/logo.png" alt="Logo Foodify"></a></div>
        <div class="links">
            <a class="active"  href="/about">Sobre</a>
            <a href="/revenue">Receitas</a>
        </div>
    </div>
 {% endblock %}

 {% block content %}

            <div class="contents">
                <h1>Sobre o Foodfy</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat nunc sapien, eu 
                    rutrum metus congue vitae. Ut eu elit mollis, aliquet turpis id, elementum orci. Vestibulum 
                    ultrices cursus magna vitae porttitor. Nullam ac mi eleifend, porta neque sit amet, fermentum ipsum. 
                    Fusce eget tortor nisl. Curabitur fermentum congue eros, nec scelerisque ipsum bibendum non. 
                    Nam et arcu porttitor, gravida dui sed, suscipit elit. Duis aliquam hendrerit lorem vitae cursus. 
                    Curabitur orci lorem, congue vel scelerisque id, congue in mi. Proin quis condimentum risus. 
                    Quisque euismod lorem at lorem ullamcorper, nec congue dui vehicula. Nullam vel fringilla turpis. 
                    Nam pretium ante massa, nec tincidunt lectus volutpat non. Sed maximus vulputate venenatis. 
                    Quisque quis ex sed ex lobortis scelerisque. In condimentum vehicula ipsum efficitur rutrum.</p>

                <h2>Como tudo começou...</h2>
                <p>Nulla sollicitudin consequat semper. Sed viverra nisl lorem, eget molestie diam elementum in. 
                    Nullam vel justo libero. Fusce porta accumsan turpis a pulvinar. Nam eu turpis dui. 
                    Nullam tortor ex, lobortis in tincidunt sed, pellentesque vitae sem. Aenean euismod 
                    arcu in eleifend aliquet. Duis ullamcorper, quam at faucibus ultricies, nisi nisi mollis est, 
                    ac elementum sapien purus cursus urna. Sed nisi ante, efficitur non pretium non, euismod in enim. 
                    Vivamus elit elit, tempor eu molestie sit amet, mattis ac elit. Praesent nec scelerisque justo, 
                    eu porta augue. Vestibulum malesuada risus vel cursus imperdiet. Suspendisse eu justo nisl. 
                    Sed eleifend arcu in erat consectetur, dapibus dictum ex pulvinar.</p>

                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Vestibulum finibus sodales lacus convallis dictum. Nulla viverra libero metus, vitae tempor 
                    justo elementum quis. Duis volutpat arcu eu dui porta rutrum. Fusce diam dui, fringilla a bibendum ut,
                    ultrices pulvinar nulla. Nam nibh neque, tincidunt eu neque eu, tempor cursus massa. Vivamus purus arcu, 
                    tincidunt ut mi ac, dictum fermentum ipsum. Duis posuere ultrices risus, ut aliquet lorem semper nec.</p>
                
                <h2>Nossas receitas</h2>
                <p> Duis volutpat arcu eu dui porta rutrum. Fusce diam dui, fringilla a bibendum ut,
                    ultrices pulvinar nulla. Nam nibh neque, tincidunt eu neque eu, tempor cursus massa. Vivamus purus arcu, 
                    tincidunt ut mi ac, dictum fermentum ipsum. Duis posuere ultrices risus, ut aliquet lorem semper nec.</p>

            </div>

        </section>  
        
{% endblock %}