{% extends "layout.njk" %}

{% block nav %}
    <div class="nav">
        <div class="logo"><a href="/"><img src="/imgs/logo.png" alt="Logo Foodify"></a></div>
        <div class="links">
            <a href="/about">Sobre</a>
            <a href="/revenue">Receitas</a>
        </div>
        {# Form de busca de receita #}
        <form action="revenue" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Procurar"
                value=""
            >
            <button type="submit">Filtrar</button>
        </form>
        <div class="links">
            <a id="btManager" href="./admin/list">
                <i class="material-icons">settings_applications</i>
            </a>
        </div>
        
    </div>
 {% endblock %}

{% block content %}
    <div class="banner">
        <div class="banner__txts">
            <h1>As melhores receitas</h1>
            <h2>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</h2>
        </div>            
        <img src="imgs/chef.png" alt="Chefe de cozinha desenho">
    </div>

    </section> 
{% endblock %}    