{% extends "layout.njk" %}

{% block nav %}
    <div class="nav">
        <div class="logo"><a href="/"><img src="/imgs/logo.png" alt="Logo Foodify"></a></div>
        <div class="links">
            <a href="/about">Sobre</a>
            <a class="active" href="/revenue">Receitas</a>
        </div>
        {# Form de busca de receita #}
        <form action="revenue" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Procurar"
                value=""
            >
            <button type="submit">Filtrar</button>
        </form>
        <div class="links">
            <a id="btManager" href="./admin/list">
                <i class="material-icons">settings_applications</i>
            </a>
        </div>
    </div>
 {% endblock %}

{% block content %}

    <div class="contents">
    
        <h1>Receitas</h1>

        {% if (filter != '') and (recipes[0].total == 0) %}
            <div style='margin-top: 30px;'> Não foram encontrados receitas com base na sua pesquisa. {{filter}} </div>
        {% endif %}

        <div class="cards">

            {% for item in recipes %}
                <div class="card">
                    <a href="/show/{{item.id}}">
                        <div class="card__img">
                            <img src="{{ item.img }}" alt="">
                        </div>
                    </a>
                    <h2>{{ item.title }}</h1>
                </div> 
            {% endfor %}
            
        </div> 

        <div class="modal-overlay">
            <div class="modal">
                <img src="imgs/asinhas.png" alt="">
                <h2 class="modal__title">Assinhas de frango ao barbecue</h2>
                <h3 class="modal__subtitle">Por vania</h3>
                <div class="modal__close"><a class="close-modal">Fechar modal</a></div>
            </div>
        </div>

    </div>
    
{% endblock %}
               
            
        
