{% extends "layout.njk" %}

{% block head %}
    <title>Foodify</title>
{% endblock %}

{% block nav %}
    <div class="nav">
        <div class="logo"><a href="/"><img src="/imgs/logo.png" alt="Logo Foodify"></a></div>
        <div class="links">
            <a href="/about">Sobre</a>
            <a class="active" href="/revenue">Receitas</a>
        </div>
        {# Form de busca de receita #}
        <form action="revenue" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Procurar"
                value=""
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>
 {% endblock %}

{% block content %}

    <div class="contents">

        <div class="title">
            <h2>Receita: {{ recipe.title }}</h2>
        </div>

        <section 
            class="banner__img"
            style="background: url({{ recipe.recipe_img }}) no-repeat center center / cover;">
        </section>

        <div class="boxTitle">
            <h1>{{ recipe.title }}</h1>
            <h3>Adicionada: {{ recipe.created_at }}</h3>
        </div>
        <div class="boxInfo">
            <div class="itemDescription">
                <h3>Ingredientes</h3>
                <div class="txtItem">
                    {% for itemIngredient in ingreds %}
                        <span> - {{ itemIngredient.description }} </span> <br>
                    {% endfor %}
                </div>
            </div>

            <div class="itemDescription">
                <h3>Modo de preparo</h3>
                <div class="txtItem">
                    {% for itemSteps in steps %}
                        <span> - {{ itemSteps.description }} </span> <br>
                    {% endfor %}
                </div>
            </div>

            <div class="itemDescription">
                <h3>Informações adicionais</h3>
                <div class="txtItem">
                    <span> - {{ recipe.additional_info }} </span>
                </div>
            </div>        
        </div>
        
        
    </div>

{% endblock %}